# Garage Web Application Requirements
# 
# For standard installation:
#   pip install -r requirements.txt
#
# For Raspberry Pi with hardware control:
#   pip install -r requirements.txt -r requirements-hardware.txt
#
# For development:
#   pip install -r requirements-dev.txt

# Include core application requirements
-r requirements-core.txt
